@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap');

:root {
    --cor-primaria: #000000;   
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;
    
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria:"Montserrat", sans-serif; 
} 

*{
        margin: 0;
        padding: 0;

}


body {
        box-sizing: border-box;
        background-color: var(--cor-primaria);
        color: var(--cor-secundaria);    
   
}

.cabecalho {
    padding: 2% 0% 0% 5%

}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
        font-family: var(--fonte-secundaria);
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--cor-terciaria);
        text-decoration: none;
}

.apresentacao {
        padding: 5% 5%;
        display:flex;
        align-items: center;
        justify-content: space-between;
        gap: 82x;
}
.apresentacao__conteudo {       
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 50px;
}

.apresentacao__conteudo__titulo {
        text-align: center;
        font-weight: 400;
        font-size: 2.25rem;
        font-family:var(--fonte-primaria);

}

.destaque-titulo {
    color:var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
        text-align: left;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    color: var(--cor-secundaria);
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
    gap: 32px;

}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    
}

.apresentacao__links__redes {

    display:flex;
    justify-content: center;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var (--cor-secundaria);
    font-family: var(--fonte-secundaria);
    text-align: center;
    gap: 20px;

}
.apresentacao__links__redes:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 50%;


}

.rodape {
    padding: 24px;
    color:var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    
}

@media (max-width: 1200px ) {
    .cabecalho {
        padding: 8%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: ;
    }

    .apresentacao__conteudo{
        width: auto;
    }

}